.viewStat {
  margin-right: 16px;
}

.noteLabel {
  font-size: 20px;
  margin-bottom: 8px;
}

.success {
  background-color: #57B93E;
  color: #FFFFFF;
}

.success:hover, .success:focus {
  border-color: #57B93E;
    color: #57B93E;
}